{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true,
          "node": "current",
        },
        "useBuiltIns": "usage",
        "forceAllTransforms": true
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
